body {font-family:'Baloo Bhai','cursive'}
.wrap {
    width:70%;
    margin:10px auto;
}	
.photo {
		width:100%;
		margin:auto;
		height:500px;
		display:flex;
		flex-direction:column;
		align-items:left;
		justify-content:center;

		background: url('../img/Xmas_candle.jpg') no-repeat;
		background-size:cover;
		background-position: center;
}
.disc {
        margin:10px 0;
}
.disc h1 {
        display:inline-block;
        font-weight:bold;font-size:5vw;
        margin-bottom:10px;}
.disc p {
        font-family:'Baloo Bhai','cursive';
		display:inline-block;
		margin-left:10px;
		font-size:2vw;
}
.order_sheet {
    font-family:'Baloo Bhai','cursive';
    overflow:hidden;
}
.order_sheet form > * {
    margin:10px 0; 
}
.order_sheet form {
    display:inline-block;
    overflow:hidden;
    margin:10px 10px 10px 70px;
    width:100%; height:auto;
}
.order_sheet h1 {
    font-weight:bold;
    font-size:5vw;
}
.order_sheet img {
    width:20px; height:20px;
    margin-right:10px;
}
.order_sheet img:nth-child(3) {
    margin-right:20%;
}
.order_sheet .sub_title {
    overflow:hidden;
    display:inline-block;
    background:#c30000;
    border-radius:2em 0 2em 0;
	width:20%; height: 2em;
    vertical-align:middle;
    font-size:1.5vw;
    color:#fff;
    padding:0.5em 0 0 1em;
    vertical-align:middle;
}
.order_sheet input {
    text-align:center;
    width:65%;height:5vw;
    vertical-align:top;
    margin-top:0.1vw;
    font-size:2.5vw;
    border:.1em solid #000;
    border-radius:0.5em;
}
.order_sheet textarea {
    width: 65%;height:6vw;
    text-align:center;
    vertical-align:top;
    margin-top:0.1vw;
    font-family:'Baloo Bhai','cursive';
    font-size:3vw;font-weight:normal;
    border:0.1em solid #000;
    border-radius:0.5em;
		}
.order_sheet select {
    width:65%;height:5vw;
    vertical-align:top;
    margin-top:0.1vw;
    padding-left:20%;
    font-size:2.5vw;
    font-weight:bold;
    border:.1em solid #000;
    border-radius:0.5em;
}
.order_sheet .send {
    display:inline-block;
    width:80%;
    text-align:center;
}
button {
    width:50%;height:auto;
    text-align:center;
    font-family:'Baloo Bhai','cursive';
/*    font-weight:bold;*/
    font-size:3vw;
/*    text-align:center;*/
    color:#fff;
    border:0.2em outset #00ff1d;
    border-radius:0.3em;
    background:#ff0000;
}
table {width:100%;}
thead {
    font-size:2.5vw;
    height:50px;
    background-color:#aaa;
    border-top:0.2em solid #777;
    border-bottom:0.2em solid #999;
}
tbody tr {
    border-bottom:0.2em solid #eee;
}